
<h1>Demo de l'injection de dépendances</h1>


<h2>Singleton</h2>
<p>Service 1 : @ViewData["Singleton1"]</p>
<p>Service 2 : @ViewData["Singleton2"]</p>

<h2>Scoped</h2>
<p>Service 1 : @ViewData["Scoped1"]</p>
<p>Service 2 : @ViewData["Scoped2"]</p>

<h2>Transient</h2>
<p>Service 1 : @ViewData["Transient1"]</p>
<p>Service 2 : @ViewData["Transient2"]</p>